## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
# Your code here
sample_list_1=random.sample(range(101),80)
sample_list_1

[59,
 1,
 32,
 2,
 33,
 66,
 29,
 94,
 100,
 12,
 30,
 54,
 91,
 9,
 75,
 79,
 85,
 8,
 81,
 43,
 13,
 49,
 41,
 71,
 6,
 77,
 62,
 18,
 7,
 76,
 80,
 70,
 51,
 15,
 37,
 20,
 64,
 36,
 35,
 40,
 99,
 26,
 46,
 38,
 72,
 55,
 42,
 86,
 10,
 21,
 44,
 67,
 65,
 73,
 63,
 25,
 57,
 31,
 61,
 53,
 39,
 83,
 93,
 19,
 97,
 16,
 11,
 14,
 23,
 24,
 17,
 3,
 84,
 58,
 90,
 69,
 27,
 34,
 60,
 5]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [14]:
# Your code here
import random

sample_list_2=[]

for i in range(80):
    number = random.randrange(0, 100)
    sample_list_2.append(number)
    
print(sample_list_2)
print(len(sample_list_2))

[73, 3, 96, 24, 50, 34, 19, 24, 91, 82, 31, 21, 58, 41, 48, 18, 29, 58, 77, 64, 95, 71, 97, 96, 82, 1, 34, 25, 97, 13, 81, 37, 48, 35, 15, 86, 23, 93, 71, 98, 11, 86, 99, 86, 37, 1, 0, 34, 16, 84, 43, 42, 61, 93, 6, 87, 93, 47, 19, 15, 96, 10, 54, 35, 37, 36, 74, 80, 25, 45, 22, 68, 46, 81, 39, 5, 3, 66, 39, 68]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [16]:
# Your code here
set2=set(sample_list_2)
print(set2)
#print(len(set2))

{0, 1, 3, 5, 6, 10, 11, 13, 15, 16, 18, 19, 21, 22, 23, 24, 25, 29, 31, 34, 35, 36, 37, 39, 41, 42, 43, 45, 46, 47, 48, 50, 54, 58, 61, 64, 66, 68, 71, 73, 74, 77, 80, 81, 82, 84, 86, 87, 91, 93, 95, 96, 97, 98, 99}
55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [17]:
# Your code here
set3=set1-set2
print(set3)

{2, 7, 8, 9, 12, 14, 17, 20, 26, 27, 30, 32, 33, 38, 40, 44, 49, 51, 53, 55, 57, 59, 60, 62, 63, 65, 67, 69, 70, 72, 75, 76, 79, 83, 85, 90, 94, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [ ]:
# Your code here
set4=set2-set1
print(set4)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [18]:
# Your code here
set5=set1&set2
print(set5)

{1, 3, 5, 6, 10, 11, 13, 15, 16, 18, 19, 21, 23, 24, 25, 29, 31, 34, 35, 36, 37, 39, 41, 42, 43, 46, 54, 58, 61, 64, 66, 71, 73, 77, 80, 81, 84, 86, 91, 93, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [22]:
# Your code here

print(len(set1)) #set1 : 80 random unique numbers from 0 to 100
print(len(set2)) #set2 : set of 80 random numbers from 0 to 100 (not unique)
print(len(set3)) #set3 : set1-set2
print(len(set4)) #set4 : set2-set1
print(len(set5)) #set5 : set1&set2

#

80
55
38
13
42

#### Create an empty set called `set6`.

In [33]:
# Your code here
set6=()
print(set6)

()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [34]:
# Your code here

#Syntax :
#set1.update(set2)
#Here set1 is the set in which set2 will be added.


set6=set3.update(set5)
print(set6)

None

#### Check if `set1` and `set6` are equal.

In [24]:
# Your code here

if set1==set6:
    print('equal')
else:
    print('not equal')

not equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [26]:
# Your code here

z = set1.issubset(set2) 
print(z)

y= set1.issubset(set3) 
print(y)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [32]:
# Your code here

# We find the list of all names without duplicates by finding the union of both sets
union_set3_4_5 = set3.union(set4,set5)
print(union_set3_4_5)

union_set1_2=union_set3_4_5.union(set1,set2)
print(union_set1_2)

len(union_set1_2)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

93

#### Using the `pop` method, remove the first element from `set1`.

In [50]:
# Your code here
lset1=list(set1)
test=lset1.pop(0)
test

2

In [52]:
print(lset1)

[3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 49, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 75, 76, 77, 79, 80, 81, 83, 84, 85, 86, 90, 91, 93, 94, 97, 99, 100]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [41]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

#for i in set1:
    #for j in list_to_remove:
        #if i==j:
            #set1.remove(i)
            
toremove=[i for i in set1 for j in list_to_remove if i==j]
            
print(toremove)

print(set1)
print(set1-set(toremove))

[11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 91, 99]
{2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 49, 51, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 75, 76, 77, 79, 80, 81, 83, 84, 85, 86, 90, 91, 93, 94, 97, 99, 100}
{2, 3, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 46, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 70, 72, 73, 75, 76, 77, 80, 83, 84, 85, 86, 90, 93, 94, 97, 100}